<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <footer>
    <div class="footer-wrapper">
		<div class="icons"><a href="{% url 'account_login' %}"><i class="fab fa-facebook fa-2x"></i></a></div>
		<div class="icons"><a href="#"><i class="fab fa-twitter fa-2x"></i></a></div>
		<div class="icons"><a href="#"><i class="fab fa-github fa-2x"></i></a></div>
	</div>
	    <p class="copyright text-muted">Copyright © Your Website 2018</p>
    </footer>
</body>
</html>