{% extends 'base.html' %}
{% block content %}
{% for gall in gallery %}
 <div class="container">
        <div class="row">
            <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="gallery-title">{{gall.name}}</h1>
            </div><br/>
             {% for photo in gall.photo.all %}
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                <img src=" {{ photo.images.url }}" class="img-responsive">
            </div>
            {% endfor %}
        </div>
 </div>
{% endfor %}

{% endblock %}