{%extends 'base.html'%}
{% load static %}
{% block content %}
<div class ="top-indent">
<div class="card text-center" style="width:70%; margin: 0 auto">
    <img class="card-img-top" src="{{ new.img.url }}" alt="Card image cap" >
    <div class="card-body">
        <h5 class="card-title"> {{ new.title }} </h5>
        <p class="card-text"> {{ new.description }}</p>
        <p class="card-text"> {{ new.more_description }}</p>
        <a href="{% url 'gall'%}">Gallery</a>
    </div>
    <div class="card-footer text-muted">
        <p><b>Created:</b> {{ new.created }} </p>
        <p><b>Author:</b> {{ new.author }} </p>
    </div>
</div>
</div>
<div class="main-container">
<div class="in-main-container">
    <div class="comment-styles">
    {% for comment in comments %}
        <div class="comment-style-in">
            <p class="comment-user">{{ comment.user }}</p>
            <p>{{ comment.text }}</p>
            <p>{{ comment.created }}</p>
            <p><img src="{{ comment.picture }}"></p>
        </div>
    {% endfor %}
    </div>

<div class="pagination">

    {% for num in comments.paginator.page_range %}
        {% if num == comments.number %}
            <span class="current"><b>{{ num }}</b></span>
        {% else %}
            <a class="href-stle" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

</div>



{% if user.is_authenticated %}
<div class="container-center">
<form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
    <div class="items-form">
        <div class="twoitems"><img class="fb-avatar-style-comment" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" /></div>
        <div class="twoitems"><div class="form-group{% if field.errors %} is-invalid{% endif %}">{{ field }}</div></div>
    </div>
        {% endfor %}
        <button class="btn-submit" type="submit">Коментувати</button>
</form>
</div>
{% else %}
<center><p><strong>Щоб додати коментар будь ласка авторизуйтесь...</strong></p></center>
{% endif %}
</div>
</div>
{% endblock %}